// ****************************************************************************
// *                               001.#BASE                                  *
// ****************************************************************************
// *---------------------------001.001.#all-----------------------------------*
*,
*::before,
*::after {
  @include reset;
}

// *---------------------------001.002.#body----------------------------------*
body {
  background: $pageBg;
  color: $pageColor;
  font: {
    family: $primaryFont;
    size: 0.9375rem;
  }
}
