// ****************************************************************************
// *                               001.#PALETTE                               *
// ****************************************************************************
// *---------------------------001.001#primary--------------------------------*
$orange: hsl(25, 97%, 53%);

// *---------------------------001.002#neutral--------------------------------*
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

// *---------------------------001.002.#components----------------------------*
// *---------------------------001.002.001#page-------------------------------*
$pageBg: $white;
$pageColor: $black;

// *---------------------------001.002.002#attribution------------------------*
$attributionBg: $black;
$attributionColor: $white;
