// ****************************************************************************
// *                               001.#IMPORT RULES                          *
// ****************************************************************************
@import "__link/__link";
@import "__note/__note";

.attribution {
  background: $attributionBg;
  color: $attributionColor;
  text: {
    align: center;
  }
  padding: 0.25em;
}
